.pesquisaPerfil {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
    max-width: 640px;
    width: 100%;
    text-align: center;
    justify-content: center;
    min-height: 100vh;
}

.gitHubProfile {
    color: var(--whiteColor);
    margin-bottom: 24px;
}

.campoPesquisa {
    padding: 16px;
    background-color: var(--bdCards);
    border: 1px solid var(--border);
    border-radius: 8px;
    color: var(--whiteColor);
    width: 80%;
    margin-right: 8px;
}

.gitHubLogo {
    width: 100px;
    margin: 0 auto;
    margin-top: 90px;
}
